<%- include('partials/header') %>

<%- include('partials/navbar') %>

<h1 class="mt-3 text-center">HackaTUM 2022 Template</h1>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos error, quod placeat enim adipisci
    magnam odio assumenda
    eligendi facilis aliquam! Mollitia fuga sint hic, perspiciatis obcaecati quam! Blanditiis, veniam laboriosam.</p>

<%- include('partials/footer') %>